/* START ------------------- Текст до Тега More */
.article .article__teaser {
		font-size: inherit;
		font-weight: inherit;
		line-height: inherit;
		color: #4a4a4a;
		margin-bottom: 22px;
	}
/* END ------------------- Текст до Тега More */

/* ----------------------- Хлебные крошки */
@media (max-width: 768px) {
	.breadcrumbs ul li:last-child { display: none; }
	.breadcrumbs ul li:nth-last-child(2):after { content: none; }
	.breadcrumbs ul li:first-child { display: none; }
}
/* END ------------------- Хлебные */

/* Start ----------------- Кастомные списки: Самолетики, Звездочки, Сердечки --- */
.list-heart {
    list-style-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="5 0 90 100" enable-background="new 0 0 100 100" xml:space="preserve"><path d="M49.998,90.544c0,0,0,0,0.002,0c5.304-14.531,32.88-27.047,41.474-44.23C108.081,13.092,61.244-5.023,50,23.933  C38.753-5.023-8.083,13.092,8.525,46.313C17.116,63.497,44.691,76.013,49.998,90.544z"/></svg>')
}
.list-plane {
    list-style-image: url('data:image/svg+xml;utf8,<svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.1" x="0px" y="0px" viewBox="10 15 85 85"><g transform="translate(0,-952.36218)"><path d="m 81.000141,965.3623 c -3.118808,-0.0493 -6.871531,1.87157 -9.999997,5 -5.121101,4.60899 -10.152,9.77653 -15.000011,15.00005 l -40.000074,-7.99998 -2.999926,5.99991 29.999936,15.00007 -16.999957,19.99995 c -3.898198,-1.2822 -9.999941,-2.741 -9.999945,2 -6.5e-5,0.937 0.234401,1.9024 0.999963,3 L 29,1035.3622 c 1.097728,0.7655 2.06305,1 3,1 4.740981,0 3.282127,-6.1017 2,-10 l 20,-17 15,30 6,-3 -8,-40.00002 c 5.22347,-4.848 10.39101,-9.8789 15,-15 3.128426,-3.12847 5.049276,-6.88119 5,-10 -0.02655,-1.68014 -0.556508,-3.27992 -1.63224,-4.36763 -1.087703,-1.07573 -2.687483,-1.60565 -4.367619,-1.63225 z" style="opacity:1;color:#000000;fill:#000000;stroke:none;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate;fill-opacity:1"/></g></svg>')
}
.list-star {
    list-style-image: url('data:image/svg+xml;utf8,<svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.1" x="0px" y="0px" viewBox="20 30 50 50"><g transform="translate(0,-952.36218)"><path style="color:#000000;enable-background:accumulate;" d="m 50,983.36218 -6.55709,11.9909 -13.44291,2.5238 9.3904,9.93462 -1.75108,13.5507 L 50,1015.5113 62.36068,1021.3622 60.6096,1007.8115 70,997.87688 56.5571,995.35308 z" fill="#000000" stroke="none" marker="none" visibility="visible" display="inline" overflow="visible"/></g></svg>')
}
/* END ----------------- Кастомные списки --- */

/* START --------------- Обёртка таблиц ----- */
.table-wrap {
	overflow-x: auto;
}
.table-wrap table {
	max-width: none;
}

.article td,
.article th {
    padding: 10px;
    border: 1px solid #b1c3cd;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
/* END --------------- Обёртка таблиц ----- */
