*,:after,:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body,html {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    min-width: 320px;
    font-family: Open Sans,sans-serif;
    font-size: 100%;
    color: #4a4a4a;
    background-color: #eff1f4;
}

.clear:after,.clear:before {
    content: ' ';
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

a,a:hover {
    color: #444;
}

a:focus {
    outline: 0;
}

a:active,a:hover {
    outline: 0;
}

input:focus {
    outline: 0;
    border: 1px solid #04a4cc
}

.hidden {
    display: none;
}

.header.\--is-sticky {
    position: relative;
    z-index: 99;
}

.header__container {
    position: relative;
    height: 370px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-image: -webkit-linear-gradient(right,#01b0dd,#196ebd);
    background-image: linear-gradient(-90deg,#01b0dd,#196ebd);
    z-index: 4;
}

.header__container[style*=background-image] {
    min-height: 399px;
}

.header__container[style*=background-image] .header__list-title {
    margin-top: 15px;
    margin-bottom: 48px;
}

@media only screen and (max-width:567px) {
    .header__container[style*=background-image] .header__list-title {
        margin-bottom: 0;
    }
}

.header__inner {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 7px 20px;
}

.header__container[style*=background-image] .header__inner {
    background-color: rgba(9,9,9,.4);
}

.header__links {
    display: -webkit-box;
    display: -ms-flexbox;
    align-items: center;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    padding: 7px 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -100% -100%;
}

.header__links-inner {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.header__links.\--is-sticky {
    min-height: 50px;
    z-index: 99;
    background-position: bottom;
    background-color: rgba(9,9,9,.4);
    background-image: -webkit-linear-gradient(right,#01b0dd,#196ebd);
    background-image: linear-gradient(-90deg,#01b0dd,#196ebd);
}

.header__links-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header__links.\--is-sticky[style*=background-image] .header__links-bg {
    background-color: rgba(9,9,9,.4);
}


.header-right__inner {
    float: right;
    line-height: 2.375em;
    height: 2.375em;
    user-select: none;
}

#subscribe-submit, .jetpack_subscription_widget {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    opacity: 0;
}
.header-right__subscribe_active .jetpack_subscription_widget,
.header-right__subscribe_active #subscribe-submit {
    opacity: 1;
}

.header-right__subscribe .error,.jetpack_subscription_widget .widget-title {
    display: none;
}

.header-right__subscribe {
    position: relative;
    float: left;
    font-weight: 600;
    color: #fff;
    letter-spacing: .5px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 20px 0 15px;
    border-radius: 100px;
    border: 1px solid rgba(255,255,255,.5);
    font-size: .75em;
    white-space: nowrap;
    line-height: 3em;
    transition: background-color .3s ease-in-out, min-width .3s ease-in-out;
    cursor: pointer;
}

.header-right__subscribe_active {
    min-width: 250px;
}

.header-right__subscribe:active,
.header-right__subscribe:hover {
    background-color: rgba(255,255,255,0.4);
    color: #fff
}

.header-right__subscribe:before {
    content: '';
}

.header-right__subscribe_finish:active,
.header-right__subscribe_finish:hover,
.header-right__subscribe_active:active,
.header-right__subscribe_active:hover {
    background: transparent;
}

.header-right__subscribe_finish {
    pointer-events: none;
    padding-left: 20px;
    padding-top: 2px;
}

#subscribe-submit {
    display: none;
}

#subscribe-submit input[type=submit],.header-right__subscribe-fake-btn {
    display: inline-block;
    width: 17px;
    height: 13px;
    background: url(img/letter.svg) 50% 50% no-repeat;
    border: 0;
    padding: 0;
    margin: 0;
    color: transparent;
    vertical-align: middle;
}

#subscribe-submit input[type=submit] {
    display: none;
}

.header-right__subscribe-label {
    display: inline-block;
    overflow: hidden;
    transition: all .3s ease;
    line-height: 1;
    width: 97px;
    vertical-align: middle;
    margin-left: 5px;
}

.header-right__subscribe_active .header-right__subscribe-label {
    width: 0;
    margin: 0;
}

.header-right__subscribe_active #subscribe-submit {
    display: inline-block;
}

.header-right__subscribe_active #subscribe-submit input[type=submit] {
    display: inline-block;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.15);
}


@media only screen and (min-width:568px) {
    .header__container[style*=background-image] {
        min-height: 539px;
    }
}

#subscribe-text,.header-right__subscribe_active .header-right__subscribe-fake-btn {
    display: none;
}

.services-links {
    text-align: center;
    line-height: 0;
}

.services-links__list {
    position: relative;
    border: 1px solid rgba(255,255,255,.5);
    border-radius: 100px;
}

#subscribe-email, .services-links__list {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.header-right__subscribe input[type=email] {
    width: 0 !important;
    overflow: hidden;
    transition: all .3s ease;
    padding: 0;
    border: 0;
    vertical-align: middle;
    background-color: transparent;
    border-bottom: 1px solid;
    color: #fff;
}

.header-right__subscribe_active input[type=email] {
    width: calc(100% - 15px) !important;
    padding: 0 5px;
    margin-right: 5px;
}

.header-right__subscribe_active #subscribe-email {
    width: 190px;
}

.header-right__subscribe_active input[type=email]::placeholder {
    color: white;
}

.services-links__list:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}

.services-links__item {
    float: left;
    padding: 0;
    list-style: none;
    border-right: 1px solid rgba(255,255,255,.5);
}

.services-links__item:last-child {
    border-right: 0;
}

.services-links__link {
    display: block;
    font-weight: 600;
    color: #fff;
    letter-spacing: .5px;
    text-decoration: none;
    padding: 0 20px;
    font-size: .75em;
    line-height: 3em;
    text-transform: uppercase;
    transition: background .3s ease-in-out;
}

.services-links__link[data-discount]:after {
    content: attr(data-discount);
    margin-left: 5px;
    color: #1ba6d2;
    border-radius: 12px;
    padding: 0 5px;
    font-size: 12px;
    background: #fff;
}

.services-links__link:active,.services-links__link:hover {
    background: rgba(255,255,255,.2);
    color: #fff;
}

.services-links__item:first-child .services-links__link {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.services-links__item:last-child .services-links__link {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.header__content {
    margin: auto;
    max-width: 830px;
    text-align: center;
    visibility: visible;
    opacity: 1;
    transition: 0.3s opacity, 0.4s visibility;

}
.header__content.\--is-sticky {
    visibility: hidden;
    opacity: 0;
}

.header__list-title {
    margin-top: 40px;
    font-size: 2.25em;
    color: #fff;
    letter-spacing: 0;
    line-height: 1.333em;
    font-weight: 700;
    text-align: center;
}

.header__title-def {
    display: block;
    font-size: .389em;
    line-height: 1em;
    letter-spacing: .7px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.header__description {
    text-transform: none;
    max-width: 700px;
    display: block;
    margin: 0 auto;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: none;
}

@media screen and (max-width:568px) {
    .header__description {
        font-size: 11px;
    }

}

.header__author-image,
.header__content > img {
    background: #d8d8d8;
    border-radius: 100px;
    margin-bottom: -40px;
    margin-top: 35px;
    width: 70px;
    max-width: 70px;
    height: 70px;
    max-height: 70px;
    margin: 0 auto;
}

@media screen and (max-width:567px) {
    .header__content > img {
        display: none;
    }

    .header__author-name {
        display: none;
    }
}

.header__author-name,.header__time-tags {
    font-size: .75em;
    color: #fff;
    letter-spacing: .6px;
    text-transform: uppercase
}

.header__author-name {
    position: relative;
    margin-top: 5px;
    top: 6px;
}

.header__time-tags {
    display: flex;
    justify-content: center;
}

.header__tags:before,.header__time:before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}

.header__time:before {
    background: url(img/calendar-white.svg) 50% 50% no-repeat;
    width: 17px;
    height: 18px;
}

.header__tags {
    margin-left: 30px;
}

@media screen and (max-width:370px) {
    .header__tags {
        margin: 7px auto;
        display: none;
    }

    .header__content {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .header__time-tags {
        flex-direction: column;
        padding-top: 48px;
    }

    .header__author-image {
        margin: 0 auto;
    }

    .services-links__item .services-links__link {
        padding: 0 14px;
    }

}

.header__tags:before {
    background: url(img/ticket-white.svg) 50% 50% no-repeat;
    width: 23px;
    height: 20px;
}

.header__tags a {
    color: #fff;
}

.header__goto-post {
    display: inline-block;
    font-size: 1.125em;
    font-weight: 600;
    line-height: 2.667em;
    padding: 0 63px;
    color: #fff;
    background: #ff6d00;
    box-shadow: 0 1px 0 0 #d64d08,0 2px 1px 0 rgba(0,0,0,.1);
    border-radius: 5px;
    transition: all .3s;
}

.header__goto-post:hover {
    color: #fff;
    background: #ff9444;
    box-shadow: 0 1px 0 0 #f3651d,0 2px 3px 0 rgba(0,0,0,.2);
}

@media screen and (max-width: 568px) {
    .header__goto-post {
        margin-top: 20px;
    }
}

.navbar__menu {
    display: inline-block;
    position: relative;
}

.navbar__menu:focus {
    outline: 0;
}

.navbar__menu-checkbox {
    transform: translateX(-9999px);
    width: 0;
    height: 0;
}

.hamburger {
    position: relative;
    top: 6px;
    display: inline-block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    border: 9px solid transparent;
    margin: -9px -9px -9px 10px;
    box-sizing: content-box;
}

.hamburger__line {
    position: absolute;
    right: 0;
    left: 0;
    height: 2px;
    border-radius: 1px;
    background: #fff;
}

.hamburger__line:first-child {
    top: 0;
    -o-animation: both hamburger-first-reverse .4s ease-out;
    animation: both hamburger-first-reverse .4s ease-out;
}

.hamburger__line:nth-child(2) {
    top: 6px;
    -o-animation: both hamburger-middle-reverse .4s ease-out;
    animation: both hamburger-middle-reverse .4s ease-out;
}

.hamburger__line:last-child {
    top: 12px;
    -o-animation: both hamburger-last-reverse .4s ease-out;
    animation: both hamburger-last-reverse .4s ease-out;
}

.navbar__menu_active .hamburger .hamburger__line:first-child {
    -o-animation: both hamburger-first .4s ease-out;
    animation: both hamburger-first .4s ease-out;
}

.navbar__menu_active .hamburger .hamburger__line:nth-child(2) {
    -o-animation: both hamburger-middle .4s ease-out;
    animation: both hamburger-middle .4s ease-out;
}

.navbar__menu_active .hamburger .hamburger__line:last-child {
    -o-animation: both hamburger-last .4s ease-out;
    animation: both hamburger-last .4s ease-out;
}

@-o-keyframes hamburger-first {
    50% {
        -o-transform: translateY(6px);
        transform: translateY(6px);
    }

    to {
        -o-transform: translateY(6px) rotate(45deg);
        transform: translateY(6px) rotate(45deg);
    }
}

@keyframes hamburger-first {
    50% {
        -o-transform: translateY(6px);
        transform: translateY(6px);
    }

    to {
        -o-transform: translateY(6px) rotate(45deg);
        transform: translateY(6px) rotate(45deg);
    }
}

@-o-keyframes hamburger-first-reverse {
    0% {
        -o-transform: translateY(6px) rotate(45deg);
        transform: translateY(6px) rotate(45deg);
    }

    50% {
        -o-transform: translateY(6px) rotate(0deg);
        transform: translateY(6px) rotate(0deg);
    }

    to {
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes hamburger-first-reverse {
    0% {
        -o-transform: translateY(6px) rotate(45deg);
        transform: translateY(6px) rotate(45deg);
    }

    50% {
        -o-transform: translateY(6px) rotate(0deg);
        transform: translateY(6px) rotate(0deg);
    }

    to {
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@-o-keyframes hamburger-middle {
    50% {
        opacity: 1;
    }

    50.1%,to {
        opacity: 0;
    }
}

@keyframes hamburger-middle {
    50% {
        opacity: 1;
    }

    50.1%,to {
        opacity: 0;
    }
}

@-o-keyframes hamburger-middle-reverse {
    0%,50% {
        opacity: 0;
    }

    50.1%,to {
        opacity: 1;
    }
}

@keyframes hamburger-middle-reverse {
    0%,50% {
        opacity: 0;
    }

    50.1%,to {
        opacity: 1;
    }
}

@-o-keyframes hamburger-last {
    50% {
        -o-transform: translateY(-6px);
        transform: translateY(-6px);
    }

    to {
        -o-transform: translateY(-6px) rotate(-45deg);
        transform: translateY(-6px) rotate(-45deg);
    }
}

@keyframes hamburger-last {
    50% {
        -o-transform: translateY(-6px);
        transform: translateY(-6px);
    }

    to {
        -o-transform: translateY(-6px) rotate(-45deg);
        transform: translateY(-6px) rotate(-45deg);
    }
}

@-o-keyframes hamburger-last-reverse {
    0% {
        -o-transform: translateY(-6px) rotate(-45deg);
        transform: translateY(-6px) rotate(-45deg);
    }

    50% {
        -o-transform: translateY(-6px) rotate(0deg);
        transform: translateY(-6px) rotate(0deg);
    }

    to {
        -o-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes hamburger-last-reverse {
    0% {
        -o-transform: translateY(-6px) rotate(-45deg);
        transform: translateY(-6px) rotate(-45deg);
    }

    50% {
        -o-transform: translateY(-6px) rotate(0deg);
        transform: translateY(-6px) rotate(0deg);
    }

    to {
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

.top-menu {
    position: absolute;
    overflow: hidden;
    max-height: 0;
    right: 0;
    top: 40px;
    margin-right: -6px;
    padding: 0 6px;
    text-align: right;
    transition: max-height .4s cubic-bezier(.28,.93,.43,1);
}

.navbar__menu_active .top-menu {
    max-height: 999px;
    padding-bottom: 6px;
}

.top-menu__inner {
    display: inline-block;
    min-width: 280px;
    max-width: 320px;
    border-radius: 3px;
    text-align: left;
    font-size: .75rem;
    transform: translateY(-100%);
    -o-transition: -o-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out,-o-transform .2s ease-out;
}

.navbar__menu_active .top-menu .top-menu__inner {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.3);
    -o-transition: -o-transform .4s cubic-bezier(.28,.93,.43,1);
    transition: transform .4s cubic-bezier(.28,.93,.43,1);
    transition: transform .4s cubic-bezier(.28,.93,.43,1),-o-transform .4s cubic-bezier(.28,.93,.43,1);
    transform: translateY(15px);
}

.top-menu__arrow-up {
    position: absolute;
    top: -4px;
    right: 4px;
    z-index: 11;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.3);
    content: '';
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.top-menu__container {
    position: relative;
    z-index: 111;
    overflow: hidden;
    padding: 29px;
    border-radius: 3px;
    background: #fff;
}

.top-menu__new {
    position: relative;
    top: -1px;
    display: inline-block;
    margin-left: 10px;
    padding: .05rem .32rem;
    border-radius: 3px;
    line-height: 1rem;
    background: -o-linear-gradient(right,#9c0,#6cbe42);
    background: linear-gradient(270deg,#9c0,#6cbe42);
    color: #fff;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    font-size: .4375rem;
    -ms-transform: scale(.85);
    -o-transform: scale(.85);
    transform: scale(.85);
}

.top-menu__item {
    display: block;
    color: #4a4a4a;
}

.top-menu__item svg {
    width: 18px;
    height: 23px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.top-menu__item path {
    fill: #494949;
    -o-transition: fill .3s;
    transition: fill .3s;
}

.top-menu__item:hover {
    color: #00a2d1;
    text-decoration: none;
}

.top-menu__item:hover path {
    fill: #00a2d1;
}

.top-menu__item.app-link {
    display: inline-block;
    padding-left: 0;
    width: 33.333%;
    height: 23px;
}

.top-menu__item.app-link:after {
    right: 0;
    margin: auto;
}

.top-menu__inner .top-menu__services-icon {
    position: absolute;
    top: 74px;
    right: -10px;
    width: 65px;
    height: 67px;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.top-menu__inner .\--calendar:hover .top-menu__services-icon,.top-menu__inner .\--direct-map:hover .top-menu__services-icon,.top-menu__inner .\--map:hover .top-menu__services-icon,.top-menu__inner .\--offers:hover .top-menu__services-icon,.top-menu__inner .\--top100:hover .top-menu__services-icon {
    opacity: 1;
}

.top-menu__inner .\--calendar .top-menu__services-icon {
    background-image: url(img/calendar-df5a3288ae2cba14135d11f5474c7e2f.png);
    opacity: 0;
}

.top-menu__inner .\--map .top-menu__services-icon {
    background-image: url(img/map-69cf2c160e58336f69517ec3114e7e22.png);
}

.top-menu__inner .\--offers .top-menu__services-icon {
    right: -30px;
    width: 87px;
    height: 75px;
    background-image: url(img/offers-3b40dfebed5dee6c1dec1f4b0f6ded47.png);
    background-size: cover;
}

.top-menu__inner .\--direct-map .top-menu__services-icon {
    background-image: url(img/map-direct-49d22bafdd50c7e1caf5c9a9ee59e29b.png);
}

.top-menu__inner .\--top100 .top-menu__services-icon {
    background-image: url(img/top100-26217afee26042feaf93e42aab5e18bb.png);
}

.top-menu__inner .\--company,.top-menu__inner .\--help-and-info {
    display: inline-block;
    width: 50%;
    line-height: 2;
}

.top-menu__inner .\--services {
    font-weight: 600;
    font-size: 1rem;
    line-height: 2;
    margin-bottom: 18px;
}

.top-menu__inner .\--apps {
    margin: 28px auto 0;
    width: 192px;
}

.top-menu__inner .\--mobile {
    margin-top: 5px;
    text-align: center;
}

.top-menu__inner .\--mobile:after {
    content: normal;
}

.logo {
    line-height: 0;
    height: 30px;
    min-width: 38px;
}

.logo__image {
    vertical-align: middle;
    margin-left: -1px;
}

.logo__link,.logo__link:hover {
    display: inline-block;
    font-size: 1.1875em;
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
}

@media screen and (max-width:860px) {
    .logo__link .is-tablet-hidden {
        display: none;
    }

    .logo__link .is-tablet-shown {
        display: inherit;
    }
}

@media screen and (max-width:370px) {
    .logo__blog-text.is-tablet-shown {
        display: none;
    }
}

.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.breadcrumbs__list {
    list-style: none;
    padding: 37.5px 10px;
    margin: 0;
    font-size: .875em;
    line-height: 1.571em;
    text-align: center;
}

.breadcrumbs__item {
    display: inline;
}

.breadcrumbs__item:after {
    content: '/';
    padding: 0 10px;
}

.breadcrumbs__item:last-child:after {
    content: none;
    padding: 0;
}

.breadcrumbs__link {
    color: #01b0dd;
    text-decoration: none;
}

.breadcrumbs__link.breadcrumbs__link_disabled {
    color: #4a4a4a;
}

.main {
    max-width: 1030px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.15);
    margin: 0 auto;
    padding: 50px 0;
}

.is-tablet-shown {
    display: none
}

@media screen and (max-width:1030px) {
    .main {
        border-radius: 0;
        box-shadow: none;
        padding: 10px 0;
    }

    .breadcrumbs {
        background: #fff;
    }
}

.article {
    padding: 0 195px;
    line-height: 1.75em;
}

.article table {
    max-width: 100%;
}

@media screen and (max-width:768px) {
    .article {
        padding: 0 114px;
    }

    .is-tablet-hidden {
        display: none;
    }

    .is-tablet-shown {
        display: inherit;
    }
}

@media screen and (max-width:610px) {
    .services-links__link {
        font-size: 0;
        padding: 0 16px;
    }

    .services-links__link[data-discount]:after {
        content: none;
    }

    .services-links__link:before {
        content: '';
        display: block;
        height: 36px;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    .services-links__plane:before {
        width: 20px;
        background-image: url(img/plane.svg)
    }

    .services-links__hotels:before {
        width: 20px;
        background-image: url(img/sleeping.svg);
    }

    .services-links__insurance:before {
        width: 18px;
        background-image: url(img/shield.svg);
    }

    .services-links__auto:before {
        width: 18px;
        background-image: url(img/wheel.svg);
    }
}

@media screen and (max-width:568px) {
    .article {
        padding: 0 38px;
    }

    .header__list-title {
        font-size: 1.375em;
    }

    .breadcrumbs__list {
        padding: 19px 10px 4px 10px;
    }

    .is-phablet-hidden {
        display: none;
    }
}

.article .article__teaser {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8em;
    color: #272727;
    margin-bottom: 22px;
}

.article h2 {
    font-size: 2em;
    margin: 50px 0 0.67em;
    font-weight: 700;
    line-height: 1.3;
    color: #393939;
}

.article h3 {
    font-size: 1.5em;
    margin-top: 40px;
}

.article h4 {
    margin-top: 35px;
    font-size: 1.17em;
}

.article .subheader {
    font-size: 14px;
    line-height: 1.3;
    color: #909297;
}

.article p {
    margin-top: 0;
    margin-bottom: 15px;
}

.article > iframe {
    margin: 25px auto 30px !important;
}

.article p > img, .article li > img {
    display: inline-block;
}

.article li > img {
    margin: 10px 0 20px;
}

#respond {
    display: none !important;
}

.article li {
    margin-bottom: 12px;
}

.article ul,
.article ol {
    margin: 20px 0;
}

@media (max-width:567px) {
    .article ul,
    .article ol {
        padding-left: 20px;
    }

    .article .article__teaser {
        margin-bottom: 45px;
    }
}

.article img {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
}

.article a {
    color: #00b0dd;
    text-decoration: underline;
    -o-transition: color .3s;
    transition: color .3s;
}

.article a:focus,.article a:hover {
    color: #ff9d1b;
}

@media screen and (max-width:320px) {
    .article {
        padding: 0 20px;
    }
    .is-mobile-hidden,
    .is-tablet-shown.is-mobile-hidden {
        display: none;
    }
    .article .article__teaser {
        line-height: 1.7;
        font-size: 17px;
        margin-bottom: 45px;
    }

    .article h2,
    .article h3,
    .article h4 {
        hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
    }
}

.h1 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}


.categories-top-wrapper {
    max-width: 1280px;
    margin: 20px auto 0;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories-top-wrapper .categories {
    padding: 0 15px 0 0;
    overflow: hidden;
    font-size: .875em;
    line-height: 1.929em;
    text-align: left;
}

.categories-top-wrapper .categories:after {
    content: '';
    clear: both;
}

.search-form {
    margin: 0 0 7px 0;
}

.search-form form {
    min-height: 43px;
    min-width: 280px;
    display: flex;
    border: 1px solid rgba(151,151,151,0.5);
    border-right: 0;
    border-radius: 100px;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background: rgba(255,255,255,0.5);
}

.search-form span {
    display: none;
}

.search-form input[type='search'] {
    border: 0;
    background-color: transparent;
    font-size: .875em;
    color: #4a4a4a;
    padding: 4px 19px;
}

.search-form input[type='search']:active,
.search-form input[type='search']:focus {
    border-color: #ff8b0e;
    outline: none;
}

.search-form input[type='submit'] {
    border: 0;
    background-color: #2196F3;
    color: rgba(0, 0, 0, 0);
    width: 60px;
    height: 43px;
    background-image: url(./img/search_ico.svg);
    background-size: 17px auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100px;
    transition: 0.3s opacity;
}
.search-form:hover {
   border-color: #2196f3;
}
.search-form input[type='submit']:hover {
    opacity: 0.6;
}

.search-form input[type='submit']:active {
    opacity: 1;
}

@media screen and (max-width: 1175px) and (min-width: 569px) {
    .search-form form {
        min-width: 210px;
    }

    .search-form input[type='search'] {
        width: 120px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 568px) {
    .search-form {
        margin-top: 13px;
        margin-bottom: 0px;
    }
}

@media (max-width: 768px) {
    .categories-top-wrapper .categories {
        line-height: 2.1em;
        text-align: center;
        overflow: visible;
    }

    .categories-top-wrapper,
    .post-excerpts {
        margin-top: 20px;
    }
}

@media (max-width: 568px) {
    .categories-top-wrapper {
        flex-direction: column;
    }
}

.categories {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.categories__item {
    min-width: 45px;
    display: inline-block;
    padding: 0;
    margin: 0 10px 7px 0;
    background: #1429c1;
    border: 1px solid transparent;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.15);
    border-radius: 4px;
    transition: all .3s;
}

.categories__item:last-child {
    margin-right: 0;
}

.categories__item a {
    display: inline-block;
    padding: 5px 12px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    line-height: 1.35;
}

.categories__item:hover {
    opacity: 0.6;
}

.categories__item.categories__item_active {
    background: transparent;
    border: 1px solid #cacaca;
}

.categories__item.categories__item_active:hover {
    opacity: 1;
}

.categories__item.categories__item_active a {
    color: #b1b1b1;
    font-weight: 600;
    cursor: default;
}

@media screen and (max-width: 1175px) and (min-width: 569px) {
    .categories__item {
        margin-right: 7px;
    }

    .categories__item a {
        padding: 4px 10px;
    }

    .categories__part-text {
        display: none;
    }
}

@media screen and (max-width: 568px) {
    .categories-top-wrapper .categories {
        padding-right: 0;
        justify-content: center;
        margin: 0 -4px;
    }

    .categories__item {
        margin: 0 4px 7px 4px;
    }

    .categories__item a {
        padding: 4px 11px;
    }
}

.post-excerpts {
    width: 100%;
    margin-top: 20px;
}

.post-excerpts--single {
    padding: 30px 0;
    margin-top: 0;
    background: white;
    border-bottom: 1px solid #dde1e4;
    border-top: 1px solid #dde1e4;
}

.post-excerpts__inner {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.post-excerpt {
    height: 240px;
    padding: 0px 15px 15px 15px;
    display: flex;
    flex-basis: 100%;
}

.post-excerpt:hover .post-excerpt__image {
    transform: scale(1.1);
    transition: transform 1.5s cubic-bezier(0, 1.32, 0.12, 1.26);
}

.post-excerpt__container {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    color: #fff;
    border-radius: 4px;
}

.post-excerpt__container:active, .post-excerpt__container:visited,
.post-excerpt__container:hover {
  color: #fff;
}

.post-excerpt__image-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 4px;
    will-change: transform;
}

@media (max-width:567px) {
    .post-excerpt {
        flex-direction: column;
        padding: 0px 15px 15px 15px;
    }
}

.post-excerpt__image,.post-excerpt__image+.post-excerpt__text {
    width: calc(50% - 10px);
}

@media (max-width:567px) {
    .post-excerpt__image,.post-excerpt__image+.post-excerpt__text {
        width: 100%;
    }
}

.post-excerpt__image {
    text-align: center;
}

.post-excerpt__image {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    transition: transform 0.25s ease-in-out;
    will-change: transform;
}

@media screen and (max-width:768px) {
    .post-excerpt__image img {
        max-height: 221px;
    }
}

.post-excerpt__image::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0.9) 100%);
}

.post-excerpt__category {
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 12px;
    padding: 5px 10px 5px;
    font-weight: 400;
    font-size: 13px;
    border-radius: 4px;
    background: white;
}

/* purple - Советы */
.post-excerpt__category--6 {
    background: #9266ff;
    order: 3;
}

/* orange - Все о билетах */
.post-excerpt__category--487 {
    background: #ff6d00;
    order: 7;
}

/* blue - Идеи для путешествия */
.post-excerpt__category--488 {
    background: #5a6be6;
    order: 2;
}

/* blue - FAQ */
.post-excerpt__category--9 {
    background: linear-gradient(90deg, #01b0dd, #234fae);
}

/* light blue - Путеводители */
.post-excerpt__category--2 {
    background: #2196f3;
    order: 4;
}

/* dark red - Aviasales.ru */
.post-excerpt__category--489 {
    background: #a4270f;
    order: 5;
}

/* light red purple - Сколько стоит */
.post-excerpt__category--490 {
    background: #bd472a;
    order: 6;
}

.post-excerpt__content {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 16px;
    padding: 0 15px;
}

.post-excerpt__title {
    padding-bottom: 2px;
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
}

.post-excerpt__text p {
    line-height: 1.625em;
    color: #3e433e;
    margin: 0;
}

.post-excerpt__inner {
    position: relative;
    max-height: 220px;
    overflow: hidden;
}

.post-excerpt__inner:after {
    content: '';
    position: absolute;
    top: 200px;
    width: 100%;
    height: 20px;
    background: linear-gradient(to top,#eff1f4 0%,rgba(239,241,244,.8) 50%,transparent);
}

@media (max-width:567px) {
    .post-excerpt__inner {
        max-height: auto;
    }
}

.post-excerpt__details {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.post-excerpt__author {
    padding-left: 15px;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 13px;
    text-transform: capitalize;
}

.post-excerpt__author::before {
    content: '';
    width: 9px;
    height: 9px;
    position: absolute;
    left: 0;
    background: url(img/author_icon_white_thin.svg) no-repeat;
    background-size: 100%;
}

@media screen and (min-width: 568px) {
    .post-excerpt {
        height: 300px;
        flex-basis: 50%;
    }
}

@media screen and (min-width: 768px) {
    .post-excerpt {
        height: 370px;
    }

    .post-excerpt__title {
        font-size: 24px;
        line-height: 32px;
    }

    .post-excerpts__inner--small .post-excerpt {
        flex-basis: 50%;
    }

    .post-excerpts__inner--small .post-excerpt:nth-child(3n+3) {
        flex-basis: 100%;
    }
}

.post-excerpt__date {
    white-space: nowrap;
    margin-right: 10px;
}

.post-excerpt__tags {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.post-excerpt__tags a {
    color: inherit;
}

.post-excerpt__tags a:hover {
    color: #fd8a27;
}

.post-excerpt__date:before {
    content: '';
    display: inline-block;
    background: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2217%22%20height%3D%2218%22%20viewBox%3D%220%202%2017%2018%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%23A2B0B9%22%20fill-rule%3D%22evenodd%22%20transform%3D%22translate(0%202.7)%22%3E%3Cpath%20d%3D%22M0%204.306A2%202%200%200%201%202%202.3h13c1.105%200%202%20.897%202%202.006v9.988a2%202%200%200%201-2%202.006H2c-1.105%200-2-.897-2-2.006V4.306zM3%206.3c0-.552.444-1%201-1%20.552%200%201%20.444%201%201%200%20.552-.444%201-1%201-.552%200-1-.444-1-1zm3%200c0-.552.444-1%201-1%20.552%200%201%20.444%201%201%200%20.552-.444%201-1%201-.552%200-1-.444-1-1zm3%200c0-.552.444-1%201-1%20.552%200%201%20.444%201%201%200%20.552-.444%201-1%201-.552%200-1-.444-1-1zm3%200c0-.552.444-1%201-1%20.552%200%201%20.444%201%201%200%20.552-.444%201-1%201-.552%200-1-.444-1-1zm-9%203c0-.552.444-1%201-1%20.552%200%201%20.444%201%201%200%20.552-.444%201-1%201-.552%200-1-.444-1-1zm3%200c0-.552.444-1%201-1%20.552%200%201%20.444%201%201%200%20.552-.444%201-1%201-.552%200-1-.444-1-1zm3%200c0-.552.444-1%201-1%20.552%200%201%20.444%201%201%200%20.552-.444%201-1%201-.552%200-1-.444-1-1zm3%200c0-.552.444-1%201-1%20.552%200%201%20.444%201%201%200%20.552-.444%201-1%201-.552%200-1-.444-1-1zm-9%203c0-.552.444-1%201-1%20.552%200%201%20.444%201%201%200%20.552-.444%201-1%201-.552%200-1-.444-1-1zm3%200c0-.552.444-1%201-1%20.552%200%201%20.444%201%201%200%20.552-.444%201-1%201-.552%200-1-.444-1-1zm3%200c0-.552.444-1%201-1%20.552%200%201%20.444%201%201%200%20.552-.444%201-1%201-.552%200-1-.444-1-1zm3%200c0-.552.444-1%201-1%20.552%200%201%20.444%201%201%200%20.552-.444%201-1%201-.552%200-1-.444-1-1z%22%2F%3E%3Crect%20x%3D%224%22%20y%3D%22.3%22%20width%3D%222%22%20height%3D%223%22%20rx%3D%221%22%2F%3E%3Crect%20x%3D%2211%22%20y%3D%22.3%22%20width%3D%222%22%20height%3D%223%22%20rx%3D%221%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") 50% 50% no-repeat;
    position: relative;
    top: 4px;
    margin-right: 10px;
    width: 17px;
    height: 18px;
}

.post-excerpt__tags:before {
    background: url(data:image/svg+xml;utf8,%3Csvg%20width%3D%2223%22%20height%3D%2220%22%20viewBox%3D%22155%200%2023%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M175.132%206.614c.312.462.365%201.244.127%201.729l-1.286%202.622c-.242.493-.817%201.148-1.266%201.451l-8.08%205.45a3.005%203.005%200%200%201-4.167-.815l-2.79-4.135a3.004%203.004%200%200%201%20.808-4.171l8.088-5.455c.458-.31%201.28-.592%201.818-.63l2.907-.205c.546-.039%201.234.294%201.552.766l2.289%203.393zm-5.586-.297a1.5%201.5%200%201%200%201.678%202.487%201.5%201.5%200%200%200-1.678-2.487z%22%20fill%3D%22%23A2B0B9%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E%0A) 50% 50% no-repeat;
    top: 4px;
    margin-right: 10px;
    width: 23px;
    height: 20px;
}

@media screen and (min-width: 1024px) {
    .post-excerpt:nth-of-type(5n+3),
    .post-excerpt:nth-of-type(5n+4),
    .post-excerpt:nth-of-type(5n+5) {
        flex-basis: 33.33%;
    }

    .post-excerpts__inner--small .post-excerpt,
    .post-excerpts__inner--small .post-excerpt:nth-child(3n+3) {
        flex-basis: 33.33%;
    }

    .post-excerpt {
        padding: 0px 6px 15px 15px;
    }

}

.article a.of_main_form__submit {
    font-family: Open Sans,Segoe UI,Arial,Verdana,Tahoma,sans-serif;
    font-style: normal;
    font-weight: 600;
    position: relative;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    text-align: center;
    min-width: 280px;
    height: 63px;
    line-height: 3.875rem;
    font-size: 1.3rem;
    padding: 0 30px;
    margin: 5px auto 25px;
    text-decoration: none;
    background: #ff6d00;
    box-shadow: 0 1px 0 0 #d64d08,0 2px 1px 0 rgba(0,0,0,.1);
    border-radius: 5px;
}

.article a.of_main_form__submit,.article a.of_main_form__submit:focus {
    background-color: #ff6d00;
    -o-transition: all .3s;
    transition: all .3s;
}

.article a.of_main_form__submit:hover {
    background-color: #ff9444;
}

#subscribe-blog-blog_subscription-2 {
    display: inline-block;
}

.socials {
    visibility: hidden;
}

.news-subscription {
    display: none;
}

.relap-default-wrapper {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
